/node_modules/
.vagrant
package-lock.json
**/test/*.exe
coverage
instrumented
listeners
reports
/bin
# Build folders of native VolumeControl solution
gpii/node_modules/nativeSettingsHandler/nativeSolutions/VolumeControl/Release/
gpii/node_modules/nativeSettingsHandler/nativeSolutions/VolumeControl/VolumeControl/Release/