/node_modules/
/gpii-service/node_modules/
.vagrant
package-lock.json
**/test/*.exe
coverage
instrumented
listeners
reports
/bin
gpii/node_modules/nativeSettingsHandler/nativeSolutions/VolumeControl/Release/
