{
    "include": [
     "**/*.js",
     "gpii/node_modules/**/*.js"
    ],
    "exclude": [
      "!**/gpii/node_modules/WindowsUtilities/WindowsUtilities.js",
      "!**/gpii/node_modules/displaySettingsHandler/index.js",
      "!**/gpii/node_modules/displaySettingsHandler/src/dpiWindows8.js",
      "!**/gpii/node_modules/displaySettingsHandler/src/displaySettingsHandler.js",
      "!**/gpii/node_modules/displaySettingsHandler/src/dpiWindows10.js",
      "!**/gpii/node_modules/processHandling/processHandling.js",
      "!**/gpii/node_modules/processReporter/index.js",
      "!**/gpii/node_modules/processReporter/processesBridge.js",
      "!**/gpii/node_modules/processReporter/processReporter.js",
      "!**/gpii/node_modules/registeredAT/registeredAT.js",
      "!**/gpii/node_modules/registryResolver/index.js",
      "!**/gpii/node_modules/registryResolver/src/RegistryResolver.js",
      "!**/gpii/node_modules/registrySettingsHandler/index.js",
      "!**/gpii/node_modules/registrySettingsHandler/src/RegistrySettingsHandler.js",
      "!**/gpii/node_modules/spiSettingsHandler/index.js",
      "!**/gpii/node_modules/spiSettingsHandler/src/SpiChildProcess.js",
      "!**/gpii/node_modules/spiSettingsHandler/src/SpiSettingsHandler.js",
      "!**/gpii/node_modules/userListeners/index.js",
      "!**/gpii/node_modules/userListeners/src/pcsc.js",
      "!**/gpii/node_modules/userListeners/src/proximity.js",
      "!**/gpii/node_modules/userListeners/src/usb.js",
      "!**/gpii/node_modules/userListeners/src/userListeners.js",
      "!**/gpii/node_modules/windowMessages/index.js",
      "!**/gpii/node_modules/windowMessages/src/windowMessages.js",
      "!**/gpii/node_modules/windowsMetrics/index.js",
      "!**/gpii/node_modules/windowsMetrics/src/windowsMetrics.js",
      "**/tests/*.js",
      "node_modules",
      "node_modules/gpii-universal/**",
      "reports",
      "coverage",
      "instrumented",
      ".nyc_output",
      "gpii.js",
      "Gruntfile.js"
    ],
    "temp-directory": "coverage",
    "report-dir": "reports",
    "reporter": ["none"],
    "clean": false,
    "all": true
}
