{
    "include": [
  	  "index.js",
	  "gpii/node_modules/*/*.js",
	  "gpii/node_modules/*/src/*.js",
	  "service/src/*.js"
    ],
    "exclude": [
	  "!**/node_modules/"
    ],
    "temp-directory": "coverage",
    "report-dir": "reports",
    "reporter": ["none"],
    "clean": false,
    "all": true
}
